<footer class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 border-right">
                        <ul class="lq-footer-list">
                            <li>
                                Want to get in touch with us?
                                <ul class="lq-footer-sublist">
                                    <li>
                                        <a href="mailto:hello@lifeqbook.online">Say hello@lifeqbook.online</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Follow us
                                <ul class="lq-footer-sublist">
                                    <!-- <li>
                                        <a href="#" target="_blank">Twitter</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">Instagram</a>
                                    </li> -->
                                    <li>
                                        <a href="https://www.linkedin.com/in/jasenkatransformationcoach" target="_blank">
                                            <b class="font-weight-bold" style="font-weight: bold;">LinkedIn</b>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#" target="_blank">Facebook</a>
                                    </li> -->
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 border-right">
                        <ul class="lq-footer-list">
                            <li>
                                <a href="#">Book</a>
                            </li>
                            <li>
                                <a href="#">Authors</a>
                            </li>
                            <li>
                                <a href="#">Coaching</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="lq-footer-list">
                            <li>
                                Next Events
                                <ul class="lq-footer-sublist">
                                    <li>
                                        Coming Soon
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="lq-copyright">LQBook © All rights reserved. | Designed by <a href="https://othilacreativa.com" target="_blank" style="color:black;">Othila</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>