<footer class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row" *ngIf="languageObject">
                    <div class="col-lg-4 border-right">
                        <ul class="lq-footer-list">
                            <li>
                                {{ languageObject.footer['first-column']['first-title'] }}
                                <ul class="lq-footer-sublist">
                                    <li>
                                        <a href="mailto:{{ languageObject.footer['first-column']['contact-email-url']}}">
                                            {{ languageObject.footer['first-column']['contact-email'] }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                {{ languageObject.footer['first-column']['second-title'] }}
                                <ul class="lq-footer-sublist">
                                    <li *ngFor="let s of languageObject.footer['first-column']['social-links']">
                                        <a href="{{ s.url }}" target="_blank">
                                            <b class="font-weight-bold" style="font-weight: bold;">{{ s.name }}</b>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 border-right">
                        <ul class="lq-footer-list">
                            <li *ngFor="let item of languageObject.footer['second-column']">
                                <a [routerLink]="[item.url]">{{ item.title }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="lq-footer-list">
                            <li>
                                {{languageObject.footer['third-column']['title']}}
                                <ul class="lq-footer-sublist">
                                    <li>
                                        {{languageObject.footer['third-column']['content']}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="lq-copyright">LQBook © All rights reserved. | Designed by <a href="https://othilacreativa.com" target="_blank" style="color:black;">Othila</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>