<!-- <div class="lq-navbar">
    <ul>
        <li>
            <a [routerLink]="['home']" routerLinkActive="active">
                <img src="/assets/navbar/logo.png" class="logo" alt="LQlogo">
            </a>
        </li>
        <li>
            <a [routerLink]="['book']" routerLinkActive="active">Book</a>
        </li>
        <li>
            <a [routerLink]="['authors']" routerLinkActive="active" >Coaching</a>
        </li>
    </ul>
    <div class="lang">
        <a href="#" style="color:#333;">ESP</a> 
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
        <a href="#" style="color:#333;">ENG</a> 
    </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/assets/navbar/logo.png" class="logo" alt="LQlogo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a [routerLink]="['book']" routerLinkActive="active" class="nav-link">Book</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['authors']" routerLinkActive="active" class="nav-link">Coaching</a>
        </li>
      </ul>
      <span class="navbar-text">
        <div class="lang">
            <a href="#" style="color:#333;">ESP</a> 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
            <a href="#" style="color:#333;">ENG</a> 
        </div>
      </span>
    </div>
  </nav>
