<div class="lq-navbar">
    <ul>
        <li>
            <a [routerLink]="['home']" routerLinkActive="active">
                <img src="/assets/navbar/logo.png" class="logo" alt="LQlogo">
            </a>
        </li>
        <li>
            <a [routerLink]="['book']" routerLinkActive="active">Book</a>
        </li>
        <li>
            <a [routerLink]="['authors']" routerLinkActive="active" >Coaching</a>
        </li>
    </ul>
    <div class="lang">
        <a href="#" style="color:#333;">ESP</a> 
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
        <a href="#" style="color:#333;">ENG</a> 
    </div>
</div>
