<section class="authors">
    <div class="content">
        <div class="author">
            <div class="left" *ngIf="languageObject">
                <h3 class="text-center mb-5">
                    {{ languageObject.coaching.title }}
                </h3>
                <p style="white-space: pre-line;">
                    {{ languageObject.coaching.content }}
                </p>
            </div>
        </div>
        <div class="partners">
            <div class="row">
                <img src="assets/coaching/partners/facebook.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/boa.svg" class="larger" alt="Partner Logo">
                <img src="assets/coaching/partners/amazon.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/disney.svg" alt="Partner Logo">
            </div>
            <div class="row">
                <img src="assets/coaching/partners/viacom.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/cocacola.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/nasa.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/johnson.svg" class="larger" alt="Partner Logo">
            </div>
        </div>
    </div>

</section>
