<div class="container-fluid lq-main-banner">
    <video 
        muted="" 
        autoplay="" 
        loop=""
        title="Advertisement"
        class="video1" 
        >
        <source src="https://othilacreativa.com/videos/video1.mov">
        Your browser does not support HTML5 video.
    </video>
    <div class="row">
        <div class="col-md-12">
            <div class="container lq-main-banner-content d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-8 col-md-8 d-flex flex-column justify-content-center fade-in">
                        <h1 class="canela-r">Make life your most important business.</h1>
                        <p class="canela-t">Companies create strategic plans so they can be successful. Our LifeQ Book uses the same process to create a business plan for your life.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid lq-content-two">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="col-lg-12 my-5">
                    <div class="content fade-in">
                        <h1>
                            If you’ve been struggling to balance two areas of life, you’ll be surprised to know that masterfully juggling 12 life areas can be more fulfilling and easier. This sounds counterintuitive, and yet it is true.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid lq-video-2" (click)="changeSlide()" id="lq-video-2">
    <video muted="muted" class="video2" id="video1" #video1>
        <source src="/assets/homepage/cyan0000.mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="col-lg-12 my-5">
                    <div class="content slide-caption active">
                        <div class="lq-parraph fade-in">
                            <h4>{{ actualContent.header }}</h4>
                            <p>
                                {{ actualContent.parraph1 }}    
                            </p>
                            <p>
                                {{ actualContent.parraph2 }}  
                            </p>
                        </div>
                        <div class="life-essentials">
                            <ul class="life-essentials-list">
                                <li>
                                    <div class="content">
                                        <span>Family</span>
                                        <span>{{ actualContent.life_essential[0] }}%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span>Work</span>
                                        <span>{{ actualContent.life_essential[1] }}%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span>Physical</span>
                                        <span>{{ actualContent.life_essential[2] }}%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span>Spiritual</span>
                                        <span>{{ actualContent.life_essential[3] }}%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span>Mental</span>
                                        <span>{{ actualContent.life_essential[4] }}%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span>Emotional</span>
                                        <span>{{ actualContent.life_essential[5] }}%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span>Relaxation</span>
                                        <span>{{ actualContent.life_essential[6] }}%</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-three">
    <div class="row">
        <div class="col-lg d-flex">
            <!-- <h1>The LifeQ Quiz</h1> -->
            <!-- <iframe class="typeform-widget" src="https://form.typeform.com/to/EUPEmQfo?typeform-medium=embed-snippet" style="width:800px; height: 500px;"></iframe>  -->
        </div>
    </div>
</div>
<div class="container-fluid lq-content-four">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 my-5 left">
                        <div class="content fade-in">
                            <h1>
                                Consider this book a DIY toolkit for living your life based on your values and purpose. 
                            </h1>
            
                            <div class="lq-parraph">
                                <p>
                                    We wrote a book to share case studies from our clients, offer research and expert advice, provide practical exercises, and give examples of how we apply these business principles in our lives.
                                </p>
                            </div>
    
                            <a href="#" class="amazon">+ Available on Amazon</a>
                            <a href="#" class="lq-btn">Shop now</a>
                        </div>
                    </div>
                    <div class="col-lg-5 right fade-in book-section">   
                        <div class="book" data-tilt-scale="1.1">
                            <img src="/assets/homepage/book.png" alt="Book" class="bookimage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-five">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 fade-in">
                        <div class="lq-authors-left-content">
                            <h3>
                                The authors
                            </h3>
                            <p>
                                Jasenka and Susan met over 10 years ago when working on project X and have been partners ever since. They wrote this book in order to summarize the best advice they could give to any client as coaches.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 fade-in">
                        <div class="lq-author-card lq-border-right">
                            <div class="lq-author-card-image">
                                <img src="/assets/homepage/authors/jasenka.jpg" alt="Jasenka Image">
                            </div>
                            <span class="lq-author-card-name">
                                Jasenka <br>Sabanovic
                            </span>
                            <p class="lq-author-card-parraph">A Bosnian refugee who found her passion in leading people through love, now coaches teams and executives from Facebook, Disney, Amazon, Viacom, etc. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 fade-in">
                        <div class="lq-author-card">
                            <div class="lq-author-card-image">
                                <img src="/assets/homepage/authors/susan.jpg" alt="Susan Image">
                            </div>
                            <span class="lq-author-card-name">
                                Susan <br>Murphy
                            </span>
                            <p class="lq-author-card-parraph">As an author, speaker and business consultant, Susan has an unmatched experience in living life to the fullest. She continues to work advising companies like NASA, while launching what is her 9th book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

