<div class="container-fluid lq-main-banner">
    <div class="row">
        <div class="col-md-12">
            <div class="container my-5 lq-main-banner-content d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-8 col-md-8 d-flex flex-column justify-content-center">
                        <h1 class="canela-r">Make life your most important business.</h1>
                        <p class="canela-t">Companies create strategic plans so they can be successful. Our LifeQ Book uses the same process to create a business plan for your life.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-two">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="col-lg-12 my-5">
                    <div class="content">
                        <h1>
                            If you’ve been struggling to balance two areas of life, you’ll be surprised to know that masterfully juggling 12 life areas can be more fulfilling and easier. This sounds counterintuitive, and yet it is true.
                        </h1>
        
                        <div class="lq-parraph">
                            <h4>About</h4>
                            <p>
                                When we think about life balance, we think about work and family life; but you may have been ignoring your physical, spiritual, mental, emotional, and relaxation needs. Once you begin working on those forgotten areas, the ones you usually obsess over will improve almost by themselves. 
                            </p>
                            <p>
                                Think of your life like a wheel; the more balanced it is, the better it will roll. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-three">
    <div class="row">
        <div class="col-lg d-flex">
            <h1>The LifeQ Quiz</h1>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-four">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 my-5 left">
                        <div class="content">
                            <h1>
                                Consider this book a DIY toolkit for living your life based on your values and purpose. 
                            </h1>
            
                            <div class="lq-parraph">
                                <p>
                                    We wrote a book to share case studies from our clients, offer research and expert advice, provide practical exercises, and give examples of how we apply these business principles in our lives.
                                </p>
                            </div>
    
                            <a href="#" class="amazon">+ Available on Amazon</a>
                            <a href="#" class="lq-btn">Shop now</a>
                        </div>
                    </div>
                    <div class="col-lg-5 right">
                        <div class="book">
                            <img src="/assets/homepage/book.png" alt="Book">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-four">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>

