.lq-main-banner{
    // background-image: url('/assets/homepage/main-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;    
    position: relative;
    overflow: hidden;

    .video1, .main-background{    
        position: absolute;
        top: -24px;
        left: 0px;
        z-index: 0;
        min-height: 105vh;
        min-width: 100%;
    }

    .main-background {
        filter: blur(4px);
        background-image: url(/assets/homepage/main-video.gif);
        background-size: cover;
        background-position: center center;
    }
    

    .lq-main-banner-content {
        z-index: 1;
        min-height: 100vh;

        p {
            max-width: 300px;
        }
    }
}

.lq-content-two, .lq-content-four  {
    background: rgb(216,214,213);
    background: linear-gradient(90deg, #dbd6d6 0%, #d5d3d9 70%);

    .content {
        display: flex;
        flex-direction: column;
        max-width: 600px;   

        h1 {
            padding:4rem 0;
        }
    }
}

.lq-video-2 {
    position: relative;
    overflow: hidden;
    min-height: 700px;
    height: 700px;
    background: rgb(235,239,225);
    background: linear-gradient(90deg, #eff3e4 0%, #cfe6f5 100%);

    .slide-caption {
        display: none;
        opacity: 0;

        &.active {
            display: flex;
            flex-direction: row;
        }

        .lq-parraph{
            width: 100%;
            top:0;
            position: relative;
            min-height: 500px;
    
            h4 {
                padding:50px 0;
                font-size:16pt;
            }
        
            p {
                color:#606060;
                max-width: 400px;
            }
        }


        .life-essentials {
            width: 50%;
            position: absolute;
            left: -8%;
            height: 82%;
            width: 600px;
            right: -33%;
            top: -3%;
            margin: auto;

            .life-essential {
                width: 110px;
                border-radius: 30px;
                background-color: white;
                margin: 5px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                
                
                span {
                    padding: 2px 5px;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    text-transform: capitalize;


                    &.essential-percentage {
                        background-color: #707070;
                        color:white;
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                    }
                }

    
                &.essential-top-left {
                    left:-100px;
                    top: 0;

                    &::after{
                        content: "";
                        background-image: url(/assets/homepage/essential-top-left.svg);
                        background-position: center;
                        background-size: 100% 100%;
                        position: absolute;
                        right: -170px;
                        bottom: -80px;
                        margin: auto;
                        width: 170px;
                        height: 100px;
                    }
                }

                &.essential-top-right {
                    right:0;
                    top:50px;

                    &::after{
                        content: "";
                        background-image: url(/assets/homepage/essential-top-left.svg);
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                        background-position: center;
                        background-size: 100% 100%;
                        position: absolute;
                        left: -170px;
                        bottom: -80px;
                        margin: auto;
                        width: 170px;
                        height: 100px;
                    }
                }

                &.essential-bottom-left {
                    left: -80px;
                    bottom: 35px;


                    &::after{
                        content: "";
                        background-image: url(/assets/homepage/essential-top-left.svg);
                        -webkit-transform: scaleY(-1);
                        transform: scaleY(-1);
                        background-position: center;
                        background-size: 100% 100%;
                        position: absolute;
                        right: -170px;
                        top: -80px;
                        margin: auto;
                        width: 170px;
                        height: 100px;
                    }
                    
                }

                &.essential-bottom-right {
                    right:0;
                    bottom:50px;

                    &::after{
                        content: "";
                        background-image: url(/assets/homepage/essential-top-left.svg);
                        -webkit-transform: scaleY(-1) scaleX(-1);
                        transform: scaleY(-1) scaleX(-1);
                        background-position: center;
                        background-size: 100% 100%;
                        position: absolute;
                        left: -170px;
                        top: -80px;
                        margin: auto;
                        width: 170px;
                        height: 100px;
                    }
                }
            }
        }

    }

    .video2{    
        position: absolute;
        top: 0;
        right:0;
        z-index: 0;
        min-width: 100%;
        min-height: 700px;
        height: 700px;
    }

    .spinner-grow {
        display: none;
        background-color: #d9d8da!important;
    }

    &.loading {
        pointer-events: none;
        
        .spinner-grow {
            display: block;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            top:0;
            margin:auto;
            z-index: 3;
        }
    }
}

.lq-content-three {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/homepage/section-three-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lq-content-four {
    padding:10% 0;
    background: #ededed;

    .content {
        max-width: 100%;

        h1 {
            margin:0;
            padding:10px 0;
        }
        
        .amazon {
            margin:20px 0;
            color:black;
            opacity:1;
            transition: all .4s ease;
            letter-spacing: .5px;

            &:hover{
                letter-spacing: 2px;
                text-decoration: none!important;
                transition: all .4s ease;
                opacity:.7;
                color: black;
            }
        }
    }

    .right {
        .book {
            z-index: 1;
            opacity: 1;
            position: relative;
            transform-style: preserve-3d;
            
            img {
                filter: grayscale(100%);
                width:100%;
                transition: all 1.6s ease;
            
                &:hover{
                    cursor: pointer;
                    transition: all 1.6s ease;
                    filter: grayscale(0%);
                }
            }

        }
    }
}

.lq-content-five {
    padding:2% 0 15% 0;
    background-color: #ededed;

    .lq-authors-left-content {
        max-width:230px;
        float: right;
        border-right: 1px solid black;
        height:100%;

        p {
            font-family: 'NeueMontreal-Regular', sans-serif!important;
            font-size:14pt;
            padding-right:15px;
        }
    }

    .lq-author-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 40px;

        .lq-author-card-image {
            width: 80%;
            padding-bottom:20px;
            border-bottom: 1px solid black;
        }

        .lq-author-card-name {
            font-size:18pt;
            margin:15px 20px;
        }

        .lq-author-card-parraph {
            border-top: 1px solid black;
            padding-top:20px;
            font-family: 'NeueMontreal-Regular', sans-serif!important;
            font-size:14pt;
        }
    }
}

.mobile-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------------------
Life essentials positioning 
---------------------------------------------------------------------------------------------------------------------------------------------------------
*/

@media (min-width:2000px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -90%!important;
    }
}

@media (min-width:1900px) and (max-width:1999px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -80%!important;
    }
}

@media (min-width:1730px) and (max-width:1899px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -70%!important;
    }
}

@media (min-width:1630px) and (max-width:1729px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -60%!important;
    }
}

@media (min-width:1520px) and (max-width:1629px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -50%!important;
    }
}

@media (min-width:1420px) and (max-width:1519px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -40%!important;
    }
}

@media (min-width:1200px) and (max-width:1419px){
    .lq-video-2 .slide-caption .life-essentials {
        right: -30%!important;
    }
}

@media (max-width:1199px){
    .lq-video-2 .slide-caption.active {
        flex-direction: column;

        .lq-parraph {
            width: 100%;
        }

        .life-essentials {
            width: 100%;
            position: relative;
            left: 0;
            height: auto;
            right: auto;
            top: 0;
            margin: 0;

            .life-essential {
                justify-content: flex-start;
                align-items: flex-start;
                position: relative; 
                top:auto!important;
                left:auto!important;
                right:auto!important;
                bottom:auto!important;
                margin: 5px 0;

                &:after {
                    display: none!important;
                }
            }
        }
    }
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------------------
Media queries
---------------------------------------------------------------------------------------------------------------------------------------------------------
*/

@media (max-width:992px){
    .lq-content-five {
        padding:50px 5%;
        background-color: #ededed;
        text-align: center;
    
        .lq-authors-left-content {
            max-width:100%;
            border-right: none;

            p {
                padding:0;
                margin:0;
            }
        }

        .lq-author-card {
            padding: 0;

            .lq-author-card-image {
                width: 100%;
                margin-top: 50px;
            }
        }
    }
}

@media (max-width:600px){
    .lq-video-2 {
        .video2 {
            right:-90%;
            min-height: 100%;
        } 

        .lq-parraph {
            min-height: 420px!important;

            h4 {
                padding: 10px 0;
            }

            p {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    
}

