<div class="container-fluid lq-main-banner">
    <div class="main-background"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="container lq-main-banner-content d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-8 col-md-8 d-flex flex-column justify-content-center fade-in">
                        <h1 class="canela-r">{{ languageObject.homepage.section1.title }}</h1>
                        <p class="canela-t">
                            {{ languageObject.homepage.section1.paragraph }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid lq-content-two">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="col-lg-12 my-5">
                    <div class="content fade-in">
                        <h1>
                            If you’ve been struggling to balance two areas of life, you’ll be surprised to know that masterfully juggling 12 life areas can be more fulfilling and easier. This sounds counterintuitive, and yet it is true.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid lq-video-2" (click)="changeSlide()" id="lq-video-2">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="mobile-text d-flex d-lg-none" *ngIf="!animationStarted">
        <p class="canela-r" *ngIf="languageObject">{{ languageObject.homepage.section2["cursor-mobile-next-slide-text"]}}</p>
    </div>
    <video class="video2" id="video1" #video1 autoplay loop muted playsinline>
        <source src="/assets/homepage/cyan0000.mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="row" *ngIf="languageObject && actualContent">
        <div class="col-12">
            <div class="container">
                <div class="col-lg-12 my-5">
                    <div class="content slide-caption active">
                        <div class="lq-parraph fade-in">
                            <h4>{{ actualContent.title }}</h4>
                            <p>
                                {{ actualContent.paragraph1 }}    
                            </p>
                            <p>
                                {{ actualContent.paragraph2 }}  
                            </p>
                            <span class="mobile-help-text d-flex d-lg-none">
                                {{ mobileHelpText }}
                            </span>
                        </div>
                        <div class="life-essentials">
                            <div class="life-essential" *ngFor="let l of actualContent['life-essentials']" [ngClass]="l.position">
                                <span>{{ l.title }}</span>
                                <span class="essential-percentage">{{ l.value }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-three">
    <div class="row">
        <div class="col-lg d-flex flex-column align-items-center fade-in">
            <h1>{{ languageObject.homepage.section3["title"] }}</h1>
            <!-- <a href="" class="lq-btn text-center" style="padding: 20px 15px 20px 15px;">{{languageObject.homepage.section3["cta-text"]}}</a> -->
            <button data-tf-popup="I3yIogT3" 
                    data-tf-iframe-props="title=LQ Wheel of Life" 
                    data-tf-medium="snippet" 
                    class="lq-btn text-center"
                    style="padding: 20px 15px 20px 15px;">
                    {{languageObject.homepage.section3["cta-text"]}}</button>
            <!-- <iframe class="typeform-widget" src="https://form.typeform.com/to/EUPEmQfo?typeform-medium=embed-snippet" style="width:800px; height: 500px;"></iframe>  -->
            <p style="max-width: 550px;text-align: center;">{{languageObject.homepage.section3["paragraph"]}}</p>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-four">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 my-5 left">
                        <div class="content fade-in">
                            <h1>
                                {{languageObject.homepage.section4["title"]}}
                            </h1>
            
                            <div class="lq-parraph">
                                <p>
                                    {{languageObject.homepage.section4["paragraph"]}}
                                </p>
                            </div>
    
                            <a href="https://www.amazon.com/LifeQ-Make-Your-Important-Business-ebook/dp/B08X4S7QZW" target="_blank" class="amazon">
                                + {{languageObject.homepage.section4["amazon-text"]}}
                            </a>
                            <a href="https://www.amazon.com/LifeQ-Make-Your-Important-Business-ebook/dp/B08X4S7QZW" target="_blank" class="lq-btn">
                                {{languageObject.homepage.section4["cta-text"]}}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 right fade-in book-section">   
                        <div class="book" data-tilt-scale="1.1">
                            <img src="/assets/homepage/book.png" alt="Book" class="bookimage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid lq-content-five">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 fade-in">
                        <div class="lq-authors-left-content">
                            <h3>
                                {{languageObject.homepage.section5["title"]}}
                            </h3>
                            <p>
                                {{languageObject.homepage.section5["paragraph"]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 fade-in">
                        <div class="lq-author-card lq-border-right">
                            <div class="lq-author-card-image">
                                <img src="/assets/homepage/authors/jasenka.jpg" alt="Jasenka Image">
                            </div>
                            <span class="lq-author-card-name">
                                Jasenka <br>Sabanovic
                            </span>
                            <p class="lq-author-card-parraph">{{languageObject.homepage.section5["first-author-paragraph"]}}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 fade-in">
                        <div class="lq-author-card">
                            <div class="lq-author-card-image">
                                <img src="/assets/homepage/authors/susan.jpg" alt="Susan Image">
                            </div>
                            <span class="lq-author-card-name">
                                Susan <br>Murphy
                            </span>
                            <p class="lq-author-card-parraph">{{languageObject.homepage.section5["second-author-paragraph"]}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

