<div class="private-area-container">
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-lg-4 offset-lg-8 my-5">
                <div class="excercises-content">
                    <div class="chapter">
                        <h1>Capítulo 1</h1>
                        <span class="left-arrow"></span>
                        <span class="right-arrow"></span>
                    </div>
                    <div class="excersise">
                        <h3>Ejercicio 1</h3>
                    </div>
                    <div class="parraph">
                        <p>
                            Questions to ponder as you begin your transformation
                        </p>
                    </div>
                    <div class="typefrom-btn">
                        <a href="" class="lq-btn">Start now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>