
<section class="book-section">
    <div class="content">
        <div class="product">
            <div class="left">
                <img src="/assets/book/book-section.png" alt="Book" class="book-image">
            </div>
            <div class="right">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="product-title">
                                
                            </h1>
                            <span class="title">
                                <b>LifeQ</b> - How to make your life your most important business
                            </span>
                            <span class="version">(Inglés) Versión digital</span>
                            <p class="authors">de <b>Susan Murphy</b> (Author), <b>Jasenka Sabanovic</b> (Author)</p>
                            <div class="buttons">
                                <a href="" class="lq-btn">Español</a>
                                <a href="" class="lq-btn">Inglés</a>
                            </div>
                            <span class="chapters">
                                12 capítulos | 145 paginas
                            </span>
                            <p class="description">
                                Discover just how fast and simple it can be to adopt a tasty and healthy diet that’s built
                                on a foundation of fresh veggies and seafood. The 30-Minute Mediterranean Diet
                                Cookbook offers more than a set of recipes; it shows you how to live a Mediterranean
                                lifestyle with meals that take a half-hour or less to make.
                            </p>
                            <a href="" class="read-more-btn">Read More</a>
                            <span class="price">US$ 23.78</span>
                            <div class="buttons">
                                <a href="" class="lq-inverse-btn">Buy E-book Now</a>
                                <a href="" class="lq-inverse-btn">Buy Hardcover on Amazon</a>
                            </div>
                            <ul class="social">
                                <li>
                                    <img src="/assets/book/twitter.svg" alt="Twitter Icon">
                                </li>
                                <li>
                                    <img src="/assets/book/mail.svg" alt="Mail Icon">
                                </li>
                                <li>
                                    <img src="/assets/book/facebook.svg" alt="Facebook Icon">
                                </li>
                                <li>
                                    Compartir
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="heading">
                <h3>Comentarios</h3>
            </div>
            <div class="comment">
                <h4 class="author">Lena Sosa</h4>
                <p>
                    “I really had no idea what I was aiming for, except finding a new path for myself, and Jasenka helped me steer myself towards just that. If
                    you're willing to put in the work for what you want to accomplish, she can get you there."
                </p>
                <p class="address">
                    - Lena Sosa, Head of Corporate Communications, Palo Alto, CA.
                </p>
            </div>
            <div class="comment">
                <h4 class="author">Joseph Pace</h4>
                <p>
                    "I've been working with Jasenka for several years now and and I know wouldn't be where I am today without her help and guidance. We
                    have worked on all aspects, from building my business to building healthy relationships. My communication skills have improved tremen-
                    dously as well as my self-worth."
                </p>
                <p class="address">
                    - Joseph Pace, Business Owner, Father of Three, San Francisco, CA.
                </p>
            </div>
            <div class="comment">
                <h4 class="author">Jenna Moyer</h4>
                <p>
                    "With Jasenka and Susan's help, I have been able to advocate for my self-worth, gain a work-life balance, and figure out a self-fulfilling
                    career that matches my core values. More importantly, I gained self-confidence. Every day I wake up grateful in every aspect of my life."
                </p>
                <p class="address">
                    - Jenna Moyer, Fundraising Professional, Los Angeles, CA
                </p>
            </div>
            <div class="comment">
                <h4 class="author">Mylie Caldwell</h4>
                <p>
                    “Working with Jasenka and Susan for 8 months was life changing. Going into my mid 40's I came seeking help in building the next
                    chapter in my career. What I didn't expect is that I needed guidance in my personal life as well. Every session was therapeutic and eye
                    opening, and I'm a better person today thanks to their dedication and willingness to push me forward."
                </p>
                <p class="address">
                    - Mylie Caldwell, Director of Asset
                </p>
            </div>
        </div>
    </div>
</section>