
<section class="book-section">
    <div class="content">
        <div class="product">
            <div class="left">
                <img src="/assets/book/book-section.png" alt="Book" class="book-image">
            </div>
            <div class="right">
                <div class="container-fluid">
                    <div class="row" *ngIf="languageObject">
                        <div class="col-12">
                            <h1 class="product-title">
                                
                            </h1>
                            <span class="title">
                                <b>{{ languageObject.book.title }}</b> - {{ languageObject.book.subtitle }}
                            </span>
                            <!-- <span class="version">(Inglés) Digital Version</span> -->
                            <p class="authors"><b>Susan Murphy</b> ({{ languageObject.book["translated-author"] }}), <b>Jasenka Sabanovic</b> ({{ languageObject.book["translated-author"] }}).</p>
                            <div class="buttons">
                                <a href="https://www.amazon.com/LifeQ-Make-Your-Important-Business-ebook/dp/B08X4S7QZW" target="_blank" class="lq-btn">{{languageObject.book["lang-button-text"] }}</a>
                            </div>
                            <!-- <span class="chapters">
                                317 {{languageObject.book["pages-text"]}}
                            </span> -->
                            <h4 class="mt-4 mb-2">
                                {{ languageObject.book["first-description-title"] }}
                            </h4>
                            <p class="description" style="white-space: pre-line;">
                                {{ languageObject.book["first-description-paragraph"] }}
                            </p>
                            <h4 class="mt-4 mb-2">
                                {{ languageObject.book["second-description-title"] }}
                            </h4>
                            <p class="description mb-4">
                                {{ languageObject.book["second-description-paragraph"] }}
                            </p>
                            <!-- <a href="" class="read-more-btn">Read More</a> -->
                            <span class="price">US$ 18.99</span>
                            <div class="buttons">
                                <a href="https://www.amazon.com/LifeQ-Make-Your-Important-Business-ebook/dp/B08X4S7QZW" target="_blank" class="lq-inverse-btn">
                                    {{ languageObject.book["first-cta-text"] }}
                                </a>
                                <a href="https://www.amazon.com/LifeQ-Make-Your-Important-Business/dp/1098337654/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank" class="lq-inverse-btn">
                                    {{ languageObject.book["second-cta-text"] }}
                                </a>
                            </div>
                            <!-- <ul class="social">
                                <li>
                                    <img src="/assets/book/twitter.svg" alt="Twitter Icon">
                                </li>
                                <li>
                                    <img src="/assets/book/mail.svg" alt="Mail Icon">
                                </li>
                                <li>
                                    <img src="/assets/book/facebook.svg" alt="Facebook Icon">
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="heading">
                <h3>{{ languageObject.book["comments-title"] }}</h3>
            </div>
            <div class="comment" *ngFor="let c of languageObject.book['comments']">
                <h4 class="author">{{ c.name}}</h4>
                <p>
                    “{{ c.comment }}"
                </p>
                <p class="address">
                    - {{ c.location }}
                </p>
            </div>
        </div>
    </div>
</section>