<section class="authors">
    <div class="content">
        <div class="author">
            <div class="left">
                <h2 class="name">
                    Jasenka
                    Sabanovic
                </h2>
                <p>
                    As a transformation coach, Jasenka specializes in leadership at all
                    levels, with a focus on employee engagement and culture building.
                    Known for stretching what is possible and practical and inviting
                    humor into the dialogue, she helps leaders harness the power of their
                    strengths and talents tao achieve personal and professional goals
                    with adaptable approaches.
                </p>
                <p>
                    Jasenka is a native of Bosnia and moved to California in 1999 when
                    eeing the civil war. Aer receiving her MBA from Berkeley and
                    becoming inspired to help people through coaching and
                    organizational change, she founded her own business where she
                    worked with executives across various industries. As a multilingual
                    based in Buenos Aires, she holds an uncanny ability to tackle life’s
                    hardships of dierent diverse cultures in a way only a native could do.
                </p>
                <p>
                    Her personal coaching sessions begin at $350/hr.
                </p>
                <div class="button-container">
                    <a href="" class="lq-btn"> CONTACT JASENKA</a>
                </div>
            </div>
            <div class="right">
                <div class="image-container">
                    <img src="/assets/homepage/authors/jasenka.jpg" alt="Jasenka Image">
                </div>
            </div>
        </div>
        <div class="author">
            <div class="left">
                <h2 class="name">
                    Susan
                    Murphy
                </h2>
                <p>
                    Dr. Susan is known for her “Wit and Wisdom” as a speaker, author
                    and business consultant. Audiences everywhere appreciate her
                    humorous style and useful techniques as she combines research and
                    theory with real life experiences.
                </p>
                <p>
                    Her experience includes 20+ years of national and international
                    experience with 300 organizations including many Fortune 500
                    companies, two of which she served as an executive. Susan is
                    passionate about leadership, generational/gender dierences and
                    mentoring, thriving on serving as a catalyst for break-through
                    performance with a background that combines the 3 worlds of
                    corporate leadership, academia & management consulting.
                </p>
                <div class="button-container">
                    <a href="" class="lq-btn"> CONTACT SUSAN</a>
                </div>
            </div>
            <div class="right">
                <div class="image-container">
                    <img src="/assets/homepage/authors/susan.jpg" alt="Jasenka Image">
                </div>
            </div>
        </div>
        <div class="partners">
            <div class="row">
                <img src="assets/coaching/partners/facebook.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/boa.svg" class="larger" alt="Partner Logo">
                <img src="assets/coaching/partners/amazon.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/disney.svg" alt="Partner Logo">
            </div>
            <div class="row">
                <img src="assets/coaching/partners/viacom.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/cocacola.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/nasa.svg" alt="Partner Logo">
                <img src="assets/coaching/partners/johnson.svg" class="larger" alt="Partner Logo">
            </div>
        </div>
        <div class="form">
            <div class="content">
                <input type="text" placeholder="Name" class="form-input">
                <input type="password" placeholder="Password" class="form-input">
                <input type="text" placeholder="To" class="form-select large">
                <textarea name="message" class="form-message large" cols="30" rows="7" placeholder="Text:"></textarea>
                <div class="button-container">
                    <button class="lq-inverse-btn"> SEND</button>
                </div>
            </div>
        </div>
    </div>

</section>
