<section class="authors">
    <div class="content">
        <div class="author">
            <div class="left">
                <h2 class="name">
                    Jasenka
                    Sabanovic
                </h2>
                <p>
                    Jasenka is passionate about human development and people’s success. 
                </p>
                <p>
                    She believes that when people allow themselves to embrace authenticity and creativity into the journey of personal mastery, they become more effective, balanced and successful.
                </p>
                <p>
                    Leaving a war-torn Bosnia, Jasenka learned to cope with trauma, victimhood in her early years. She experienced setbacks and tragedies that could have stopped her in her tracks, but she made it her life mission to discover the keys to happiness and success and then share them with the world.
                </p>
                <p>
                    “It takes courage to look inside, but I did it. I allowed myself to be vulnerable and started to see where I was stuck, triggered and insecure. I saw where I needed to heal, so that I could become my best self. I took the time to get to know me and found what I love to do.”
                </p>
                <p>
                    Her personal suffering has led to search for answers. And she found that the only way to transcend the trauma is to contribute and give back. Jasenka began her coaching career in 2004 and since then she is focused on deliverable outcomes and ensures that both individual clients and organizations get true value from their work together.
                </p>
                <p>
                    Her supportive but challenging coaching style and goal oriented approach enables you to gain absolute clarity about your objectives, priorities and strategy enabling you to manage new challenges that face you. 
                </p>
                <p>
                    Jasenka is a multilingual coach (English, Spanish, Bosnian/Croatian/Serbian, German), she has lived and worked in different countries and continents for the past 30 years. 
                </p>
                <p>
                    Using an energetic, co-active style of coaching, she challenges her clients to understand precisely what they want to achieve, what they need from their lives and organizations and how to deliver success in complex and changing environments.
                </p>
                <!-- <p>
                    Her personal coaching sessions begin at $350/hr.
                </p> -->
                <div class="button-container">
                    <a href="" class="lq-btn"> CONTACT JASENKA</a>
                </div>
            </div>
            <div class="right">
                <div class="image-container">
                    <img src="/assets/homepage/authors/jasenka.jpg" alt="Jasenka Image">
                </div>
            </div>
        </div>
    </div>

</section>
