<section class="authors">
    <div class="content">
        <div class="author">
            <div class="left">
                <h2 class="name">
                    Jasenka
                    Sabanovic
                </h2>
                <p style="white-space: pre-line;">
                    {{ languageObject.about["content"] }}
                </p>
                <!-- <p>
                    Her personal coaching sessions begin at $350/hr.
                </p> -->
                <div class="button-container">
                    <a href="" class="lq-btn">
                        {{ languageObject.about["cta-text"] }}
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="image-container">
                    <img src="/assets/homepage/authors/jasenka.jpg" alt="Jasenka Image">
                </div>
            </div>
        </div>
    </div>

</section>
